{% extends 'Admin/admin-index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="add_audit_course_post">
  <table width="200" border="1" class="table table-light table-bordered table-striped">
    <tr>
      <td>Name</td>
      <td><input type="text" class="form-control" name="name" required /></td>
    </tr>

    <tr>
      <td>Sem</td>
      <td><input type="text" class="form-control" name="sem" required /></td>
    </tr>
       <tr>
      <td>Course</td>
         <td><select name="course" class="form-select" required>
          {%  for i in val %}
          <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" class="btn btn-outline-success" name="Submit" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
