{% extends 'Admin/admin-index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/edit_subject_post">
  <table width="200" border="1" class="table table-light table-bordered table-striped">
    <tr>
      <td>Name</td>
      <td><input type="text" class="form-control" name="name" value="{{subject.name}}" required/></td>
    </tr>
    <tr>
      <td>Course</td>
      <td><select name="course" class="form-control form-select">
          {%  for i in course %}
          <option {% if subject.COURSE.id == i.id %} selected {% endif %}value="{{ i.id }}">{{ i.name }}</option>

          {% endfor %}
                  <option {% if subject.COURSE == None  %} selected {% endif %} value="oc">Open Course</option>

      </select></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" class="form-control" name="description" value="{{subject.description}}" required/></td>
    </tr>
    <tr>
      <td>sem</td>
      <td><input type="text" class="form-control" name="sem"  value="{{subject.sem}}" required /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" class="btn btn-success" value="Edit" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
