<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
  </head>

  <body>
    <table border="1" align="center" width="300">
      <tr>
        <td>
          <div align="center"><a href="manage_teacher">manage teacher</a></div>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="manage_course">manage course</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="manage_subject">manage subject</a></p>
        </td>
      </tr>
          <tr>
        <td>
          <p align="center">
            <a href="open_course_admin">manage OpenCourse</a>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center">
            <a href="audit_course_admin">manage AuditCourse</a>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="view_notes">view notes</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="view_qp">view QP</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="manage_program">manage program</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center">
            <a href="manage_subject_allocation">manage subject allocation</a>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="view_news_events">view news&events</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center"><a href="view_students">view students</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center"><a href="view_feedback">view feedback</a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center"><a href="complaints">complaints </a></div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center">
            <a href="manage_notification">notification </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="center"><a href="/">log out </a></div>
        </td>
      </tr>
    </table>
  </body>
</html>
