{% extends 'Admin/admin-index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="search_program_admin#about">
  <table width="400" border="1" class="table text-center  table-light table-bordered table-striped">
    <tr class="text-center">
      <td colspan="6">
        <label for="search">Name:</label>
        
      <input type="text" name="search" class="form-control-sm" id="search" value="{{sr}}" required/>
      <input type="submit" name="Submit" class="btn btn-outline-info btn-sm " value="search" />
    


    </td>
    </tr>
    <tr class="thead-dark">
      <th>s/no</th>
      <th>Name</th>
      <th>Details</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>

      {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td> <img src="{{ i.photo.url }}" alt="error " width="100" height="100"/><br>{{ i.name }}  </td>
      <td>{{ i.details }}</td>
      <td>{{ i.date }}</td>
      <td><a href="edit_program/{{i.id}}#about" class="btn btn-outline-primary mr-2">Edit</a> <a href="delete_program/{{i.id}}" class="btn btn-outline-danger" onclick="return confirm('are you want to delete?')">delete</a></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="5"><div align="center"><a href="add_program#about" class="btn btn-outline-success">Add</a></div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
