{% extends 'Admin/admin-index.html' %}
{% block body %}
<body>
<table width="200" border="1" class="table table-light table-bordered table-striped text-center">
  <tr class="text-center">
    <td colspan="7"><form id="form1" name="form1" method="post" action="search_students#about">
     
      
        <label for="search">Course:</label>
        
        <input type="text" name="search" class="form-control-sm" id="search" value="{{sr}}" required/>
        <input type="submit" class="btn btn-outline-info btn-sm " name="Submit" value="Search" />
        </div> 

      

    </form>
    </td>
  </tr>

  <tr class="thead-dark">
    <th>s/no</th>
    <th>Name</th>
    <th>Semester</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th>course</th>
  </tr>
    {% for i in val %}
  <tr>
    <td>{{ forloop.counter}}</td>
    <td> <img src="{{ i.photo.url }}" alt="error " width="100" height="100"/> <br> {{ i.name }}</td>
    <td>&nbsp;{{ i.sem }}</td>
    <td>&nbsp;{{ i.place }}, {{ i.post }}, {{ i.pin }}</td>
    <td>{{ i.phone }}</td>
    <td>{{ i.email }}&nbsp;</td>
    <td>{{ i.COURSE.name }}</td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
