{% extends 'Admin/admin-index.html' %}
{% block body %}
  <body>
    <table width="400" border="1" class="table  table-light table-bordered table-striped">
      <tr class="text-center">
        <td colspan="4">
          <form id="form1" name="form1" method="post" action="search_feedback#about">
            <label for="search">Date:</label>

            <input type="date" name="search"  class="form-control-sm" id="search" value="{{sr}}" required/>
            <input type="submit" name="Submit" class="btn btn-outline-info btn-sm " value="Go" />
          </form>
        </td>
      </tr>

      <tr class="thead-dark">
        <th>s/no</th>
        <th>Student</th>
        <th>Feedback</th>
        <th>Date</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.STUDENT.name }}</td>
        <td>&nbsp;{{ i.feedback }}</td>
        <td>{{ i.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
{% endblock %}
