{% extends 'Staff/staff-index.html' %}
{% block body %}
<body>
<form action="add_qp_post#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table  table-light table-bordered table-striped">
    <tr>
      <td>Subject</td>
      <td><select name="subject" class="form-select">
        {% for i in val %}

        <option value="{{i.id}}">{{i.name}}</option>

        {% endfor %}
      </select>
      </td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input type="text" name="title" class="form-control" /></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><input name="year" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>QP</td>
      <td><input type="file" name="qp" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" class="btn btn-outline-success " value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
