{% extends 'Staff/staff-index.html' %}
{% block body %}
<body>
<form action="add_notes_post#about" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1" class="table  table-light table-bordered table-striped">
    <tr>
      <td>Subject</td>
      <td><select name="subject" class="form-select">
        {% for i in subject %}
          <option value="{{i.id}}">{{i.name}}</option>
          {% endfor %}
      </select>      </td>
    </tr>
    <tr>
      <td>Title</td>
      <td><input type="text" name="title" class="form-control" /></td>
    </tr>
    
    <tr>
      <td>Note</td>
      <td><input type="file" name="note" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" class="btn btn-outline-success" name="Submit" value="Add" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
