{#{% extends 'Staff/staff-index.html' %}#}
{#{% block body %}#}
{##}
{#  <body>#}
{#    <table width="300" border="1" align="center">#}
{#         <tr>#}
{#        <td>#}
{#          <a href="open_course_staff">Open Course</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="manage_qp">QP Management</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="manage_notes">Notes Management</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="manage_news_events">News & Event Management </a>#}
{#        </td>#}
{#      </tr>#}
{#        <tr>#}
{#        <td>#}
{#          <a href="view_programs">View_Programs </a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="view_students_staff">View Students</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="view_complaints_staff">View Complaints</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="view_feedback_staff">View feedback</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="view_application">View Application & verify</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="audit_course_staff">Manage Audit Course</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="view_result">View Result</a>#}
{#        </td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>#}
{#          <a href="/">Log Out</a>#}
{#        </td>#}
{#      </tr>#}
{#    </table>#}
{#  </body>#}
{#{% endblock %}#}
