{% extends 'Staff/staff-index.html' %}
{% block body %}
<body>
<table width="300" border="1" class="table  table-light text-center table-bordered table-striped">
  <tr>
    <td colspan="4"><form id="form1" name="form1" method="post" action="search_complaint_staff#about">
      
         <label for="search">Date:</label>
        <input type="date" class="form-control-sm" id="search" name="search"  value="{{sr}}"/>
        <input type="submit" class="btn btn-outline-info btn-sm " name="Submit" value="Go" />
        </div> 

      


    </form>    </td>
  </tr>
  <tr class="thead-dark">
    <td>s/no</td>
    <td>Student</td>
    <td>complaint</td>
    <td>&nbsp;</td>
  </tr>

  {% for i in val %}

  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.STUDENT.name }}</td>
    <td>{{ i.complaint }}</td>
    <td>{% if i.reply == "pending" %}<a href="send_reply/{{i.id}}#about">reply</a>{% else %} {{ i.reply }} {% endif %}</td>
  </tr>

  {% endfor %}

</table>
</body>
{% endblock %}
