{% extends 'Staff/staff-index.html' %}
{% block body %}
<body>

  <table width="400" border="1" class="table  table-light table-bordered table-striped text-center">
    <tr>
        <form  method="post" action="search_program_staff#about" c>

      <td colspan="6">
        <label for="search">Date:</label>
      <input type="date" class="form-control-sm" id="search" name="search" value="{{sr}}"/>
      <input type="submit" name="Submit" class="btn btn-outline-info btn-sm " value="search" /></td>
            </form>
    </tr>
    <tr class="thead-dark">
      <td>s/no</td>
      <td>Name</td>
      <td>Details</td>
      <td>Date</td>

    </tr>

      {% for i in val %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td> <img src="{{ i.photo.url }}" alt="error " width="100" height="100"/><br>{{ i.name }} </td>
      <td>{{ i.details }}</td>
      <td>{{ i.date }}</td>
    </tr>
      {% endfor %}

  </table>
</body>
{% endblock %}
